.ba {
    border-style: solid;
    border-width: 1px;
}

.bb {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b--black-10 {
    border-color: rgba(0, 0, 0, .1);
}

.br3 {
    border-radius: .5rem;
}

.br-100 {
    border-radius: 100%;
}

.bw1 {
    border-width: .125rem;
}

.dib {
    display: inline-block;
}

.h3 {
    height: 4rem;
}

.lh-copy {
    line-height: 1.5;
}

.mw3 {
    max-width: 4rem;
}

.mw5 {
    max-width: 16rem;
}

.w3 {
    width: 4rem;
}

.black-70 {
    color: rgba(0, 0, 0, .7);
}

.bg-white {
    background-color: #fff;
}

.pa3 {
    padding: 1rem;
}

.mv3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tc {
    text-align: center;
}

.f4 {
    font-size: 1.25rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 30em) {
    .pa4-ns {
        padding: 2rem;
    }
}

.exitBtn{
    position:relative;
    float:right;
    width: 25px;
    height: 25px;
    background-color:white;
}
.article{
    position:relative;
}